<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{{SearchedMeal.strMealThumb}}" alt="Card image" style="width:100%">
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title title">{{SearchedMeal.strMeal}}
                        <sub>{{SearchedMeal.strArea}}-{{SearchedMeal.strCategory}}</sub>
                    </h4>
                    <div class="card-text">Ingredients :
                        <div *ngFor="let item of Ingrediantslist">
                            {{SearchedMeal['strIngredient'+item]}} - {{SearchedMeal['strMeasure'+item]}}
                        </div>
                    </div>
                    <p class="card-text" [ngClass]="show ? 'show':'hide'">{{SearchedMeal.strInstructions}}</p>
                    <button class="btn btn-outline-info" (click)="show = !show">{{ show ? 'Show less': 'Show More' }}</button>
                    <div>
                        <h6> Youtube Link : <a href="{{SearchedMeal.strYoutube}}" target="blank">{{SearchedMeal.strYoutube}}</a> </h6>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

</div>

